

/*BOTH FILES*/

#landingHtml {
	background: url(../images/background.png) repeat-x center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

#gameOverHtml {
	background: url(../images/background.png) repeat-x center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

#winHtml {
	background: url(../images/background.png) repeat-x center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}



 #gameHtml {
 background: url(../images/background.png) repeat-x center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 100%;


-webkit-animation:1000s scroll infinite linear;
  -moz-animation:1000s scroll infinite linear;
  -o-animation:1000s scroll infinite linear;
  -ms-animation:1000s scroll infinite linear;
  animation:1000s scroll infinite linear;
  top:0;
  left:0;
  width:100%;
 height:100%;
}

@-webkit-keyframes scroll{
  100%{
    background-position: -300000px 0px;
  }
}

@-moz-keyframes scroll{
  100%{
    background-position: -300000px 0px;
  }
}

@-o-keyframes scroll{
  100%{
    background-position: -300000px 0px;
  }
}

@-ms-keyframes scroll{
  100%{
    background-position: -300000px 0px;
  }
}

@keyframes scroll{
  100%{
    background-position: -300000px 0px;
  }
}


body {
  font-family: 'KirbyClassic';
  src: url('../fonts/KirbyClassic.ttf','Delius Unicase', cursive;) format('truetype');
}


/*GAME PAGE STYLES*/


#metaknight {
	height: 130px;
	width: 130px;
	position: absolute;
	left: 50px;
	top: 400px;
}

#kirby {
	position: absolute;
	left: 12px;
	top: 300px;
/*	kirby is 168px x 130px*/
}

#birdon1 {
	position: absolute;
	right: -10%;
	top: 75%;
	width: 4%;
	transform: scaleX(-1);
	z-index: 11;
}

#birdon2 {
	position: absolute;
	right: -5%;
	top: 80%;
	width: 4%;
	transform: scaleX(-1);
	z-index: 11;
}

#birdon3 {
	position: absolute;
	right: -10%;
	top: 85%;
	width: 4%;
	transform: scaleX(-1);
	z-index: 11;
}


#skull1 {
	position: absolute;
	right: -10%;
	top: 40%;
	height: 60px;
	width: 60px;
}





/*#skully1 {
	position: absolute;
	right: -30%;
	top: 10%;
	height: 60px;
	width: 60px;
}

#bossSkull {
	position: absolute;
	right: 20%;
	top: 30%;
	width: 10%
}
*/



/*LANDING PAGE STYLES*/


.splash {
position: relative;
top: 15vh;
text-align: center;
height: 65vh;
min-height: 65vh;
width: 60vw;
min-width: 60vw;
background: black;
border: 10px double #ffaded;
margin: auto;
border-radius: 20px;
z-index: 3;
}

#kirbysTitle {
	position: relative;
	top: 7vh;
	font-size: 10vw;
	color: #ffaded;
	transform: rotate(-6deg);
	margin: 1% 10% 0 0;
	z-index: 5;
	text-shadow: .5vh .5vh white;
}

#spookyRide {
	position: relative;
	top: 11vh;
	font-size: 9vw;
	color: #c61aff;
	transform: rotate(-6deg);
	font-weight: bold;
	margin: -10% 0 0 0;
	z-index: 4;
	text-shadow: .5vh .5vh white;	
}

.player {
	display: inline;
	text-decoration: none;
	font-size: 2vw;
	position: relative;
	color: white;
	top: 18vh;
	margin: 1vh 3vh;
}

#p1Button {
	display: inline;
}

#p2Button {
	display: inline;
}

a:hover {
    text-decoration: underline;
    color: #ffaded;
}


.modal {
	display: none;
	position: fixed;
	z-index: 10;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: (0, 0, 0, .5);
}


.modal-content {
position: relative;
top: 15vh;
text-align: center;
height: 65vh;
min-height: 65vh;
width: 60vw;
min-width: 60vw;
background: black;
border: 10px double #ffaded;
margin: auto;
border-radius: 20px;
padding: 2vh;

}

#closeButton {
	color: white;
	float: right;
	font-size: 5vh;
}

#closeButton:hover {
	color: #ffaded;
	text-decoration: none;
	cursor: pointer;
}
